.header {
  margin-bottom: 4rem;
  max-width: 600px;
}

.header.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header.left {
  text-align: left;
}

.header.right {
  text-align: right;
  margin-left: auto;
}

.header h2 {
  margin-bottom: 1rem;
}

.desc {
  font-size: 1.125rem;
  color: var(--color-gray);
  line-height: 1.6;
}
